* {
  font-family: 'Open Sans', sans-serif;

}
.centered {
    height: 15%;
    padding: 15px;
    margin: 15px;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
    justify-content: space-between;
}
.info {
  border-radius: 20px;
  background-color:black;
  opacity: 0.6;
  width: 85%;
  bottom:2%;
  color:white;
  font-size: 1.5em;
}
.info button {
align-self: right;
top:10px;
align-self: center;

}

.infoText{


}

.nextButton{
  float:right;
}
.test{
  background-color: black;
  height: 40%;
  justify-content: left;
  position: fixed;
  bottom: 0%;
  display: flex;

  width: 100%;
  margin: 0px auto;

}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-color: transparent;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  font-size: 2em;
  background-color: #2b6cb0;
  color: white;
  outline: none;
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}
.position {
    position: fixed;
    top: 10%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}

.hide{
display:none;
}

.show{
display:block;
}

#demo{font:40px;}
