* {
  /* font-family: 'Open Sans', sans-serif; */
      font-family: 'Signika', sans-serif;
}
.centered {
    height: 37%;
    padding-top: 20px;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
    align-items: center;
}
.info {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  
  text-align: center;
  /* background: rgba(1, 1, 1, 1); */
  background:#082761;
  color:#E8F0C5;
  font-size: 1.3em;
  z-index: 1;
  font-weight: 200;
}

.normal-txt{
width:88%;
}

h1{
  font-size: 1.8em;
  margin:inherit;
  line-height: 2em;

}

button{
  position: fixed;
  bottom: auto35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: inherit;
  font-weight:bold;
  width: 85%;
  height: 45px;
  border-radius: 10px;
  border-color: #E8F0C5;
  font-size: 1.2em;
  background-color: #E8F0C5;
  color: #082761;
  outline: none;
  z-index: 999999;
    bottom: 3%;
}

.testButtons{

  border-color: #E8F0C5 !important;
}

img{
  position: fixed;
  bottom: 40%;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0px auto;
  left: 0;
  right: 0;
  justify-content: space-between;
}

#changeSound {
  background-color: #082761;
  color:#E8F0C5;
}

.hide{
display:none;
}

.show{
/* display:block; */
display: flex;
align-items: center;
justify-content: center;
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}
.position {
    position: fixed;
    top: 10%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}





#demo{font:40px;}
