* {
  font-family: 'Open Sans', sans-serif;
}
.centered {
    height: 12%;
    padding: 25px;
    margin: 25px;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;

}
.info {
  border-radius: 0px;
  background: rgba(1, 1, 1, 0.5);
  top:0;
  color:white;
  font-size: 1.2em;
  z-index: 1;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: #2b6cb0;
  color: white;
  outline: none;
  z-index: 999999;
}

.testButtons{
  bottom: 50%;
}

img{
  position: fixed;
  bottom: 30%;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0px auto;
  left: 0;
  right: 0;
  justify-content: space-between;
}

.changeSound {
color:black;
}

.hide{
display:none;
}

.show{
/* display:block; */
display: flex;
align-items: center;
justify-content: center;
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}
.position {
    position: fixed;
    top: 10%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}



#demo{font:40px;}
