/* Variables */
:root{
  --primary: #FFC636;
  --secondary: #0A0B5B;
}

/* reset */
body,p,a,ul,li{
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a h3{
  color:black;
}
.grid{
  display:grid;
}
/*base styles */
.imgWelcome{
  background-image: url(./img/.png);
  background-size: cover;
  overflow-x:hidden;
  height: 100vh;
}

.imgMissionOne{
  background-image: url(./img/.png);
  background-size: cover;
  overflow-x:hidden;
  height: 100vh;
}

.imgCompleted{
  background-image: url(./img/.png);
  background-size: cover;
  overflow-x:hidden;
  height: 100vh;
}

.welcome-text h1{
  font-size: 9em;
  font-weight: lighter;
}

.welcome-text {
  grid-row-start: 1;
  grid-row-end: 2;
  color:black;
}

.leading{
  grid-row-start: 2;
  grid-row-end: 9;
  font-size: 2.1em;
}

.footer{

  text-align: center;
  grid-row-start: 9;
  grid-row-end: 10;
}

.button1 {
  color: #494949 !important;
  font-size: 2.7em;
  font-weight: bold;
  background:yellow;
  width: 100%;
  height: 120px;
  padding: 25px;
  border: 4px solid #494949 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease 0s;
}

.button1:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}


#context{
  position: relative;
  padding: 150px 90px 0px 90px;
  height:100%;
}
