/* Variables */
:root{
  --primary: #FFC636;
  --secondary: #0A0B5B;
}

/* reset */
body,p,a,ul,li{
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a h3{
  color:black;
}

/*base styles */
.imgWelcome{
  background-image: url(./img/welcome.png);
  background-size: cover;
  overflow-x:hidden;
  height: 100vh;
}

.imgMissionOne{
  background-image: url(./img/mission1.png);
  background-size: cover;
  overflow-x:hidden;
  height: 100vh;
}

.imgCompleted{
  background-image: url(./img/completed.png);
  background-size: cover;
  overflow-x:hidden;
  height: 100vh;
}

.welcome-text h1{
  font-weight: lighter;
  font-size: 9em;
}

.myButton{
  background-color:white;
  display:inline;
	border-radius:45px;
	border:0px solid #18ab29;
	cursor:pointer;
	color:black;
	font-size:2.5em;
  width:100%;

	text-decoration:none;
  font-weight: bold;
  word-wrap: break-word;
  width: 100px; // only for IE8
  max-width: 100%;



}

#welcome{
  padding: 0 90px 90px 90px;
}

#big-thin{
    height:30vh;
    padding-top: 150px;
}

.leading{
  height:30vh;
  padding: 0 0px 0px 0px;
  font-size: 2.1em;
}

.footer{
  align-items: center;
  text-align: center;
  position: absolute;
  padding-bottom: 30px;
  bottom: 0;
  	padding:35px 335px;
}

.footerNoBUtton{
  align-items: center;
  text-align: center;
  position: absolute;
  padding-bottom: 30px;
  padding:35px 310px;
  bottom: 0;
}
